<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="../image/favicon.png" />
    <title>Document</title>
	<link rel="stylesheet" href="../css/form.css">
</head>

<body class='lightMode'>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
						<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
						<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">

							<!-- le formulaire de connexion -->
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Log In</h4>
											<form action="/user/login" method="post" name='logForm'>
												<div class="form-group">
													<input type="text" name="username" class="form-style" placeholder="Identifiant" id="logpseudo" autocomplete="off">
												</div>	
												<div class="form-group mt-2">
													<input type="password" name="password" class="form-style" placeholder="Mot de passe" id="logpass" autocomplete="off">
												</div>
												<input type='submit' id='logSubmit' class="btn mt-4" value="submit">
											</form>
											<!-- Je sais pas quoi faire avec cette ligne là-->
											<p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
										</div>
									</div>
								</div>

								<!-- le formulaire d'inscription -->
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Sign Up</h4>

											<form action="/user/signin" method="post" name="registerForm">
												<div class="form-group">
													<input type="text" name="username" class="form-style" placeholder="Identifiant [4-40]" id="signpseudo" autocomplete="off" value="<%if(locals.signUsername){%><%=signUsername%><%}%>%>">
													<p id="pseudo-error-message" class="error-message">Le pseudo doit faire entre 4 et 40 caractères.</p>
													<p id="pseudo-error-message2" class="error-message">Ce pseudo est déjà pris.</p>
												</div>	
												<div class="form-group mt-2">
													<input type="email" name="email" class="form-style" placeholder="Email" id="signemail" autocomplete="off" value="<%if(locals.signEmail){%><%=signEmail%><%}%>%>">
													<p id="email-error-message" class="error-message">L'e-mail doit respecter ce format: <b>example@domaine.fr</b></p>
												</div>	
												<div class="form-group mt-2">
													<input type="password" name="password" class="form-style" placeholder="Mot de passe [min: 8]" id="signpass" autocomplete="off" value="<%if(locals.signPassword){%><%=signPassword%><%}%>%>">
													<p id="password-error-message" class="error-message">Le mot de passe doit faire au moins 8 caractères.</p>
												</div>
												<div class="form-group mt-2">
													<input type="password" name="passwordConfirmation" class="form-style" placeholder="Confirmation du mot de passe" id="signpassconfirmation" autocomplete="off" value="<%if(locals.signPasswordConfirmation){%><%=signPasswordConfirmation%><%}%>%>">
													<p id="passwordconfirmation-error-message" class="error-message">Le mot de passe confirmé est différent de l'initial.</p>
												</div>
												<input type='submit' id='signSubmit' class="btn mt-4" value="submit">
											</form>

										</div>
									</div>
								</div>
							</div>

								<!-- les carrés de glace que l'on voit derrière-->
		
								<div class="drops">
								<div class="drop drop-1"></div>
								<div class="drop drop-2"></div>
								<div class="drop drop-3"></div>
								<div class="drop drop-4"></div>
								<div class="drop drop-5"></div>
							</div>

						</div>
					</div>
				</div>
                <div style="color: red;text-align: center;">
                    <% if (locals.error) { %>
                        <% error.forEach(e => { %>
                            <p><%=e%></p>
                        <% }) %>
                    <% } %>
                </div>
			</div>
		</div>
	</div>
</body>

<%if(locals.signin) {%>
    <script>
        const arrow = document.getElementById('reg-log')
        if (!arrow.checked) arrow.click()
    </script>
<%}%>

<script type="module" src="../js/pages/form.js"></script>
    

</body>
</html>